body{
	background-color:white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: black;
}

p, ul, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000000;
}

h1 {
	font-family: 'Clicker Script', cursive;
	font-size:60px;
	color: black;
	text-align:center;
}

a:link {
	color:#990000;
	text-decoration:none;
}

a:visited {
	color:#990000;
}

a:hover {
	color:#011f5b;
	text-decoration:underline;
}

.filler{
	min-height:50px;
	height:100%;
}




